<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="glhez Eclipse Plugins TPD" sequenceNumber="1672057569">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.ui" version="0.0.0"/>
      <unit id="org.eclipse.search" version="0.0.0"/>
      <unit id="org.eclipse.debug.ui" version="0.0.0"/>
      <unit id="org.eclipse.ui.console" version="0.0.0"/>
      <unit id="org.eclipse.ui.workbench" version="0.0.0"/>
      <unit id="org.eclipse.ui" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2022-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/eclipse/updates/4.26"/>
    </location>
  </locations>
</target>
