<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Tomcat -->
      <factory
            uri="urn:eclipse:oomph:tomcat"
            class="com.github.glhez.eclipse.plugins.oomph.setup.tomcat.provider.TomcatServerItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Tomcat -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="com.github.glhez.eclipse.plugins.oomph.setup.tomcat.provider.TomcatServerItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="com.github.glhez.eclipse.plugins.oomph.setup.tomcat.provider.TomcatServerItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>

</plugin>
