<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.7"?>
<plugin>
  <!-- <extension point="org.eclipse.core.runtime.preferences">
     <initializer class="fr.glhez.eclipse.plugins.staticimport.PreferenceInitializer" />
   </extension> -->
   <extension point="org.eclipse.ui.startup">
      <startup class="fr.glhez.eclipse.plugins.staticimport.PreferenceInitializer" />
   </extension>
</plugin>
